﻿@model BLL.Models.BuyerModel
@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/script.js"></script>
<link href="~/css/style.css" rel="stylesheet" />

<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('#btnBuy').click(function () {
            var hours = $('.hours').html();
            var minutes = $('.minutes').html();
            var seconds = $('.seconds').html();

            if (hours == '00' && minutes == '00' && seconds == '00') {
                toastr.error('Sorry, Your Time Expired !!');
                $('#btnBuy').hide();
                $('#txtBuyerName').val('');
            }
            else {
                if ($('#frmBuyer').valid()) {
                    $.post('@Url.Action("BuyEvent","Home")', $('#frmBuyer').serialize(), function (res) {
                        if (res.status) {
                            toastr.success(res.message);
                            $('#btnBuy').show();
                            $('#txtBuyerName').val('');
                        }
                        else {
                            toastr.error(res.message);
                            $('#btnBuy').hide();
                            $('#stop-timer').trigger('click');
                        }
                    });
                }
            }
        });
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Buy Ticket</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-2">Remaining Time : </label>
                        <div class="col-md-9">
                            <div class="clock-wrapper" id="timer">
                                <span class="hours">00</span>
                                <span class="dots">:</span>
                                <span class="minutes">00</span>
                                <span class="dots">:</span>
                                <span class="seconds">00</span>
                            </div>

                            <div style="visibility:hidden;">
                                <button id="start-cronometer">Start Stopwatch</button>
                                <button id="start-countdown">Start Countdown</button>
                                <button id="resume-timer">Resume Timer</button>
                                <button id="stop-timer">Stop Timer</button>
                                <button id="reset-timer">Reset Timer</button>
                            </div>
                        </div>
                    </div>

                    <form id="frmBuyer">
                        <div class="form-group">
                            <label>Buyer Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtBuyerName" name="BuyerName" asp-for="BuyerName" />
                            <span asp-validation-for="BuyerName" class="text-danger"></span>
                        </div>

                        <input type="hidden" name="TesterKey" asp-for="TesterKey" value="gmistry41188" />
                        <input type="hidden" name="EventId" asp-for="EventId" value="1" />
                        <input type="hidden" id="hdnTimeoutInSeconds" value="@ViewBag.TimeoutInSeconds" />

                        <div class="form-group">
                            <button id="btnBuy" class="btn btn-success" type="button">Buy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>